{% extends "shop/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{title|upper}} {% endblock %}</title>
    {% block style %} 
        <link rel="stylesheet" href="{% static 'css/headerView.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
    {% endblock %}
</head>
<body>
    {% block body %}
        <h1>hello we are in {{title}} Page..</h1> 

        {% for item in product %}
            <a href="/shop/productView/{{item.id}}/1"><img src="/media/{{item.prodImage}}" width="140px" height="140px"></a>
            <a href="/shop/productView/{{item.id}}/1"><h3>{{item.prodName}}</h3></a>
            <p><b>{{item.prodPrice}}</b></p>
        {% endfor %}  

        {% for item in product2 %}
            <a href="/shop/productView/{{item.id}}/2"><img src="/media/{{item.prodImage}}" width="70px" height="150px"></a>
            <a href="/shop/productView/{{item.id}}/2"><h3>{{item.prodName}}</h3></a>
            <p><b>{{item.prodPrice}}</b></p>
        {% endfor %}  

    {% endblock %}
</body>
<script src="{% static 'javascript/headerView.js' %}"></script>
</html>