{% extends "shop/base.html" %}
{% load static %}

    {% block title %} EStore(Shopping Website) {% endblock %}

    {% block style %}
    <!-- Ctrl F5 (or Ctrl + F5) reloads the current page including the browser cache. It's called Hard reload. It means that the browser will not use the current cache but will be forced to download again all the files (js files, images, scripts, …). You will have the most fresh version of the page sent by the server. -->
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive_home.css' %}">
    {% endblock %}

    {% block body %}
        <!-- product overview -->

        {% if user.is_authenticated %}

            {% for message in messages %}
                {% if message.tags == "success" %}

                <div class="submit-contact green">
                    <div class="left-part">
                        <div id = "message1"><strong>Message: </strong></div>
                        <div id = "message2">{{message}}</div>
                    </div>
                    <div class="right-part">
                        <svg  onclick="cross_clicked()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>
                </div>
                {% endif %}

            {% endfor %}

        {% endif %}

    <div class="container">

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" width="65px" height="65px">
            <h4>Offers</h4>
        </div>
        
        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100" width="65px" height="65px">
            <h4>Grocery</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" width="65px" height="65px">
            <h4>Mobiles</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" width="65px" height="65px">
            <h4>Fashion</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" width="65px" height="65px">
            <h4>Electronics</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100" width="65px" height="65px">
            <h4>Home</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100" width="65px" height="65px">
            <h4>Appliances</h4>
        </div>

        <div class="box">
            <img src="https://rukminim2.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100" width="65px" height="65px">
            <h4>Beauty,Toys</h4>
        </div>
    </div>
    <hr style="margin-top: 20px;">


    <!-- Image Slider -->
`   <div class="slide-container">

        <div class="slide">
            <img src="https://m.media-amazon.com/images/I/61jovjd+f9L._SX3000_.jpg">
        </div>

        <div class="slide">
            <img src="https://m.media-amazon.com/images/I/71qid7QFWJL._SX3000_.jpg">
        </div>

        <div class="slide">
            <img src="https://m.media-amazon.com/images/I/711Y9Al9RNL._SX3000_.jpg">
        </div>

        <div class="slide">
            <img src="https://m.media-amazon.com/images/I/61DUO0NqyyL._SX3000_.jpg">
        </div>

        <!-- Slides arrow -->
        <div class="arrow prev" onclick="controller(-1)">&#10094;</div>
        <div class="arrow next" onclick="controller(1)">&#10095;</div>
        
    </div>
    
    <!-- product slider 1 -->
    <h2>Deals of the Day</h2>
    <hr style="margin-top: 13px">

    <div class="product-slider">

        <!-- Left arrow of product-slider1 -->
        <div class="arrow2 prev2" onclick="moveLeft()">&#10094;</div>
        
        {% for i in product %}
        <div class="child-slider">
            <a href="/shop/productView/{{i.id}}/1"><img src="/media/{{i.prodImage}}" width="140px" height="140px"></a>
            <a href="/shop/productView/{{i.id}}/1"><h3>{{i.prodName}}</h3></a>
            <p><b>{{i.prodPrice}}</b></p>
        </div>
        {% endfor %}

        <!-- Right arrow of product-slider1  -->
        <div class="arrow2 next2" onclick="moveRight()">&#10095;</div>

    </div>
    <hr style="margin-top: 20px;">

    <!-- product slider 2 -->

    <h2>Trending Offers</h2>
    <hr style="margin-top: 13px">

    <div class="product-slider2">

         <!-- Left arrow of product-slider -->
        <div class="arrow2 prev2" onclick="moveLeft2()">&#10094;</div>
        
        {% for i in product2 %}
        <div class="child-slider2">
            <a href="/shop/productView/{{i.id}}/2"><img src="/media/{{i.prodImage}}" width="70px" height="150px"></a>
            <a href="/shop/productView/{{i.id}}/2"><h3>{{i.prodName}}</h3></a>
            <p><b>{{i.prodPrice}}</b></p>
        </div>
        {% endfor %}

        <!-- Right arrow of product-slider  -->
        <div class="arrow2 next2" onclick="moveRight2()">&#10095;</div>

    </div>

    <hr style = "margin-top: 40px">

    {% endblock %}


</body>
{% block script %}
    <script src="{% static 'javascript/home.js' %}"></script>
{% endblock %}
</html>