@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');

/* Css Custom varibles. */
:root{
    --main : #26a541;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Designing navbar */
.navbar{
    display: flex;
    align-items: center;
    background-color: var(--main);
    color: white;
    height: 60px;
    font-family: 'Lato', sans-serif;
    position: sticky;
    z-index: 2;
    top: 0;
}
.logo{
    margin: 0px 50px;
    display: flex;
}
.logo b{
    font-size: 25px;
    cursor: pointer;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0px 18px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}
li a{
    transition: color 0.2s ease-in-out 0s;
    color: white;
    text-decoration: none;
}
li a:hover{
    color: #cecbd6;
}
.logo b a{
    color: white;
    text-decoration: none;
}
.search-input{
    position: absolute;
    right: 222px;
}
.search-input input{
    width: 275px;
    padding: 4px 8px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    border: 1px solid white;
}

.cart{
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    font-size: 16px;
    cursor: pointer;
}
.cart-number{
    position: absolute;
    top: -15px;
    right: 46px;
    background: red;
    border-radius: 11px;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid white;
}
.cart svg{
    width: 17px;
    height: 17px;
}
.cart h4{
    padding: 0px 10px;
}
.cart h4 a{
    color: white;
    text-decoration: none;
}
@media(max-width: 370px){
    ul li{
        font-size: 14px;
        padding: 0px 8px;
    }
}

/* Designing products overview home page */
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
}
.box{
    padding: 0px 40px;
    cursor: pointer;
    text-align: center;
}
.box h4:hover{
    color: var(--main);
}

/* Designing Image Slider */
.slide-container{
    padding: 10px 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.slide{
    height: inherit;
    display: none;
}
.slide img{
    width: 100%;
}
.slide img:hover{
    cursor: pointer;
}
.arrow{
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 27px 15px;
    font-size: 32px;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.next{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    right: 10px;
}

/* Product slider 1 of home page */
h2{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}
.product-slider{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.child-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    text-align: center;
    margin: 0px 25px;
    position: relative;
}
.child-slider h3,p{
    text-align: center;
}
.child-slider h3{
    margin: 22px 0px;
    font-size: 18px;
    cursor: pointer;
    color: black;
}
.child-slider a{
    text-decoration: none;
}
.child-slider img{
    cursor: pointer;
}
.child-slider h3:hover{
    color: var(--main);
}
.child-slider p b{
    color: black;
    font-size: 17px;
    font-family: Roboto,Arial,sans-serif;
}
.prev2{
visibility: hidden;
}
.arrow2{
    color: black;
    padding: 27px 15px;
    font-size: 32px;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out 0s;
}
.arrow2:hover{
    color: #baabab;
}
.next2{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/* Code for product slider 2 of home page */
.product-slider2{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.child-slider2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    text-align: center;
    margin: 0px 35px;
    color: black;
    text-decoration: none;
    position: relative;
}
.child-slider2 h3,p{
    text-align: center;
}
.child-slider2 h3{
    margin: 22px 0px;
    font-size: 18px;
    cursor: pointer;
    color: black;
}
.child-slider2 a{
    text-decoration: none;
}
.child-slider2 img{
    cursor: pointer;
}
.child-slider2 h3:hover{
    color: var(--main);
}
.child-slider2 p b{
    color: black;
    font-size: 17px;
    font-family: Roboto,Arial,sans-serif;
}

/* Styling footer in home page */
footer{
    margin-top: 30px;
}
.content-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--main);
    padding: 15px 0px;
}
.content-footer p{
    font-size: 20px;
    color: white;
}