
/* for navbar */
@media (max-width: 1200px ){
    .navbar{
        flex-direction: column;
        height: 125px !important;
        position: relative;
    }
    .search-input{
        position: static !important;
    }
    nav{
        margin: 13px 0px;
    }
    .search-input input{
        width: 465px !important;
    }
    .logo{
        margin: 0px 0px;
        margin-top: 5px;
    }
    .cart{
        right: 17px;
        bottom: 90px;
    }
}

@media (max-width: 800px){
    .logo b{
        font-size: 20px;
    }
    ul li{
        font-size: 16px;
        padding: 0px 14px;
    }
}
@media (max-width: 500px){
    ul li{
        padding: 0px 12px
    }
    .search-input input{
        width: 90vw !important;
    }
    .cart svg{
        width: 15px;
        height: 15px;
    }
    .cart-number{
        top: -13px;
        right: 46px;
        width: 15px;
        height: 15px;
        font-size: 12px;
    }
}
@media (max-width: 400px){
    ul li{
        padding: 0px 10px;
    }
    .cart h4{
        padding: 0px 7px;
    }
    .cart{
        right: 17px !important;
        bottom: 95px;
        top: 16px;
    }
    .cart svg{
        width: 13px;
        height: 13px;
    }
    .cart-number{
        top: -12px;
        right: 40px;
        width: 14px;
        height: 14px;
        font-size: 12px;
    }
}
@media (max-width: 370px){
    ul li{
        font-size: 14px;
        padding: 0px 8px;
    }
}


/* For Product Overview */
@media (max-width: 1200px){
    .container{
        overflow: scroll;
        justify-content: space-between !important;
    }
    .container::-webkit-scrollbar{
        width: 0px;
    }
    .box{
        margin: 0px 13px;
        padding: 0px 0px !important;
    }
}
@media (max-width: 1050px){
    .box img{
        width: 55px;
        height: 55px;
    }
}
@media (max-width: 700px){
    .box img{
        width: 45px;
        height: 45px;
    }
    .box h4{
        font-size: 14px;
    }
}
@media (max-width: 550px){
    .box{
        margin: 0px 10px;
    }
}

/* Image slilder */
@media only screen and (max-width: 1100px){
    .slide-container{
        height: 250px;
    }
}
@media only screen and (max-width: 950px){
    .slide-container{
        height: 200px;
    }
    .arrow{
        padding: 10px 8px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 700px){
    .slide-container{
        height: 175px;
    }
}
@media only screen and (max-width: 500px){
    .slide-container{
        height: 150px;
    }
    .arrow{
        padding: 8px 6px;
        font-size: 25px;
        display: none;
    }
}
@media only screen and (max-width: 400px){
    .slide-container{
        height: 125px;
    }
    .arrow{
        padding: 4px 5px;
        font-size: 20px;
    }
    .prev{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    .next{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
}
@media only screen and (max-width: 350px){
    .slide-container{
        height: 100px;
    }
}



/* For product-slider1 and product-slider2 */
@media (max-width: 1200px){
    .product-slider2{
        overflow: scroll;
    }
    .product-slider{
        overflow: scroll;
        margin-top: 30px;
    }
    .product-slider::-webkit-scrollbar{
        width: 0px;
    }
    .product-slider2::-webkit-scrollbar{
        width: 0px;
    }
}
@media (max-width: 1000px){
    .child-slider a img{
        width: 125px;
        height: 125px;
    }

    .child-slider2 a img{
        width: 65px;
        height: 135px;
    }
}
@media (max-width: 400px){
    .child-slider2{
        margin: 0px 35px;
    }
}


/* For Footer */
@media (max-width: 600px) {
    footer .content-footer p{
        font-size: 15px;
    }
    .content-footer{
        padding: 9px 0px;
    }   
}